<h1>Cocktails</h1>

<div>
  <% @cocktails.each do |cocktail| %>
  <%= link_to cocktail.name, cocktail_path(cocktail)%>
  <br>
  <% end %>
</div>


<div style="margin-top: 30px">
  <button><%= link_to "add new cocktail", new_cocktail_path %></button>
</div>
